@use "./theme" as colors;

div.terminal--result {
  padding-left: 20px;

  .terminal--result__error {
    color: #fb4934;
  }
}

.terminal--prompt,
.terminal--text {
  color: #458588;
}
.terminal--prompt__symbol {
  font-weight: bold;
  color: #b8bb26;
}

.terminal {
  padding: 30px;

  input {
    border: none;
    background: none;
    font-size: 15px;
    padding: 5px;
    flex: 1;
  }

  input:focus {
    outline: none !important;
    border: 2px solid #b8bb26;
    border-radius: 5px;
    box-shadow: 0 0 10px #b8bb26;
  }

  form {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .terminal {
    padding: 10px;

    input {
      font-size: 12px;
      padding: 5px;
    }
  }

  div.terminal--result {
    padding-left: 20px;
  }
}
