$dark-primary-color: #333;
$dark-secondary-color: #cdcd;
$dark-accent-color: #ebdbb2;

$primary-color: #fbf1c7;
$secondary-color: #cdcd;
$accent-color: #333;

.theme-light {
  color: $accent-color;

  input {
    color: $accent-color;
  }
}

.theme-dark {
  color: $dark-accent-color;

  input {
    color: $dark-accent-color;
  }
}
