/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;


.theme-dark {
  --main-primary: #002400;
  --main-secondary: #6b9b70;
  --main-primaryCopy: #ffff;
}

.theme-light {
  --main-primary: #6b9b70;
  --main-secondary: rgb(181, 240, 186);
  --main-primaryCopy: #000000;
}

.invert {
  filter: invert();
}


/* overrides to hide terminal scroll display */
.terminal::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.terminal {
  -ms-overflow-style: none;
}